<div style="width: 50%; float: left; position: relative;">
  <div class="overlay" *ngIf="loadingEvents"><span>New Events Loading....</span></div>
  <h3>Events List</h3>
<table>
  <thead> 
    <tr>
      <th align="left" width="5%">Sn</th>
      <th align="left" width="25%">Event</th>
      <th align="left" width="25%">Start</th>
      <th align="left" width="25%">End</th>
      <th align="left" width="20%">Link</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of eventsList; let i = index">
      <td >{{  i + 1 }}</td>
      <td >{{  list.summary  }}</td>
      <td >{{  list.start.dateTime | date :   'MM-dd-yyyy h:m a' }}</td>
      <td >{{  list.end.dateTime | date :  'MM-dd-yyyy h:mm a' }}</td>
      <td ><a target="_blank" href="{{ list.htmlLink }}">Link</a></td>
    </tr>
  </tbody>
</table>
</div>

<div style="width: 40%; float: left; margin-left: 5%;">
   <h3>Add Events</h3>
 <div class="register-item">
      <form #myform="ngForm" (ngSubmit)="addEvents(myform)" class="form form-register">

        <div class="form-field">
              <label class="user" for="register-title"><span class="hidden">Title</span></label>
              <input name="name" id="register-title" type="email" class="form-input" ngModel required>
        </div>
        <div class="form-field">
          <label class="user" for="register-start"><span class="hidden">Start</span></label>
          <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"  name="start" id="register-start" type="text" class="form-input"  ngModel required readonly>
          <owl-date-time #dt1></owl-date-time>
        </div>

        <div class="form-field">
          <label class="lock" for="register-end"><span class="hidden">End</span></label>
          <input [owlDateTime]="dt2"  name="end" id="register-end" type="text" class="form-input" [owlDateTimeTrigger]="dt2" ngModel required readonly>
          <owl-date-time #dt2></owl-date-time>
        </div>

        <div class="form-field">
          <input type="submit" value="Add">
        </div>
      </form>
    </div>
</div>