table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.register-item {
    border: 1px solid #cecece;
    padding: 10px;
}

.form-field{
	padding: 15px 0;
}

input {
    height: 24px;
    width: 100%;
}
input[type="submit" ] {
    height: 24px;
    width: 100px;
}

label {
    padding-right: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

.overlay span {
    left: 45%;
    position: absolute;
    top: 36%;
}